/* Big tablet: from 1024px - 1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet: from 768px - 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .section-features h3 {
    font-size: 90%;
  }
  .box p {
    text-align: justify;
    line-height: 135%;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .work-steps {
    margin-bottom: 40px;
  }
  .work-steps:last-child {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-sm {
    width: 15px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 80%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

/* Small phones to small tablet: from 481px - 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .main-nav {
    display: none;
  }
  .col {
    width: 100%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .steps-box:first-child {
    text-align: center;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    padding: 4px;
    font-size: 120%;
  }
}

/* Small phones: from 0 - 480px */
@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 20px 0;
  }
  h1 {
    font-size: 100%;
  }
  h2 {
    font-size: 120%;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .hero-text-box .btn-ghost {
    padding: 10px;
  }
  .main-nav {
    display: none;
  }
  .col {
    width: 100%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .section-features h3 {
    font-size: 90%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  .section-features .icon-big {
    font-size: 160%;
    display: inline-block;
    margin-bottom: 5px;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    padding: 4px;
    font-size: 120%;
  }
  .works-step p {
    font-size: 90%;
  }
  .works-step:last-of-type {
    margin-bottom: 50px;
  }
  .btn-app img {
    height: 40px;
  }

  .works-step div {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    padding: 0;
    font-size: 90%;
  }

  blockquote::before {
    content: "\201c";
    position: absolute;
    top: 10px;
    left: -15px;
    padding-left: 5px;
  }

  blockquote {
    padding: 2% 10px;
    margin-top: 30px;
  }

  .contact-form .row {
    margin-bottom: 10px;
  }

  .plan-box {
    margin-top: 2%;
  }

  .social-links {
    float: none;
    margin-top: 10px;
  }

  .footer-nav li,
  .social-links li {
    margin-right: 5px;
  }
}
